<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal Cliente</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #508bfc;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="" th:href="@{/}">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" th:href="@{/solicitarEmprestimo}">Solicitar Empréstimo</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="" th:href="@{/emprestimos}">Meus Empréstimos</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [[${#request.remoteUser}]]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2>Detalhamento do Empréstimo</h2>
                        <hr>
                        <br>
                        <h6 th:text="|Código: ${emprestimo.id}|"></h6>
                        <h6 th:text="|Valor: ${#numbers.formatDecimal(emprestimo.valor,1,'POINT',2,'COMMA')}|"></h6>
                        <h6 th:text="|Quantidade: ${emprestimo.quantidade_parcelas}|"></h6>
                        <h6 th:text="|Primeira parcela: ${#dates.format(emprestimo.primeira_parcela, 'dd/MM/yyyy')}|"></h6>
                        <h6 th:text="|E-mail: ${emprestimo.cliente.email}|"></h6>
                        <h6 th:text="'Renda: ' + ( (${emprestimo.cliente.renda != null}) ? (${#numbers.formatDecimal(emprestimo.cliente.renda,1,'POINT',2,'COMMA')}) : '')"></h6>
                        <p class="alert alert-success" th:if="${fromSolicitacao != null}">Dados salvos com sucesso</p>
                        <a th:href="@{/emprestimos}">Retornar para os meus empréstimos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>