<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal TQI</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body style="background-color: #508bfc;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a th:href="@{/}" class="navbar-brand">Portal <img th:src="@{/tqi_logo.png}" style="width: 50px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="" th:href="@{/}">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" th:href="@{/solicitarEmprestimo}">Solicitar Empréstimo</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="" th:href="@{/emprestimos}">Meus Empréstimos</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [[${#request.remoteUser}]]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2>Meus Empréstimos</h2>
                        <br>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Valor</th>
                                <th>Quantidade de parcelas</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="emprestimo: ${listaEmprestimos}">
                                    <td th:text="${emprestimo.id}"></td>
                                    <td th:text="${#numbers.formatDecimal(emprestimo.valor,1,'POINT',2,'COMMA')}"></td>
                                    <td th:text="${emprestimo.quantidade_parcelas}"></td>
                                    <td><a th:href="@{/emprestimos/{emprestimoId}(emprestimoId=${emprestimo.id})}" class="btn btn-primary">Visualizar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>